#redshopcomponent{
    margin-bottom :30px;    
    a:hover{
        text-decoration: none;
    }
    .category_front_wrapper{
        .category_front{
            margin-bottom: 30px;
        }
        .category_front_title{
            text-align: center;
            h3{
                margin : 10px 0;
            }
            a{
                color: #353535;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
        .category_front_image a{
            display: block;
            position: relative;
            &:before{
                border: 1px solid #fff;
                bottom: 10px;
                box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
                content: "";
                left: 10px;
                opacity: 0;
                position: absolute;
                right: 10px;
                top: 10px;
                transform: scale3d(1.4, 1.4, 1);
                z-index: 10;
                transition: all 0.3s ease 0s;
            }
            &:hover:before{
                opacity: 1;
                transform: scale3d(1, 1, 1);
            }
        }
    }
}
#redshopcomponent .category_product_title a{
    color: #3d3d3d;
}
.redshop a:not(.btn){
    color: #363636;
    transition: all 0.3s ease-in-out;
}
/*====================== PRODUCT LISTING ======================*/
@media (min-width: 1280px) {
    .category_main_title {
        margin-bottom: -35px;
    }
}
.category_main_toolbar {
    padding-bottom: 10px;
    margin-bottom: 10px;
    > div{
        text-align: right;
        > form{
            padding-left: 10px;
            float: right;
            margin: 0 0 0 3px;
        }
    }
}
.category_main_toolbar div {
    line-height: 24px;
}
.category_main_toolbar div:last-child {
    float: right;
}
/*---------------- LIST ----------------*/
.category_box_wrapper.list{
    .category_box_inside{
        padding: 15px;
        border: 1px solid #dcdcdc;
        margin-bottom: 15px;
        .category_product_title h3 {
            margin: 0 0 15px;
            a{
                text-transform: uppercase;
            }
        }
        .category_product_price{
            font-size: 19px;
            margin-bottom: 10px;
        }
    }
}

/*---------------- GRID ----------------*/
.category_box_wrapper.grid .category_box_inside{
    .category_product_image{
        position: relative;
        overflow: hidden;   
        img{
            @include transition(all 0.35s ease 0s);
        }   
    }
    .category_product_addtocart{
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: center;
        z-index: 1; 
        .cart-link {
            opacity: 0;                 
            -webkit-transform: translate3d(30px, 0px, 0px);
            -ms-transform: translate3d(30px, 0px, 0px);
            -o-transform: translate3d(30px, 0px, 0px);
            transform: translate3d(30px, 0px, 0px);
            transition: all 0.35s ease 0s;
            .pdaddtocart_link{
                background: #fff url(../images/vm/shopping-bag.png) no-repeat scroll center center;
                border: medium none;
                border-radius: 0;
                display: inline-block;
                height: 36px;
                padding: 0;
                text-indent: -999em;
                width: 36px;
            }
        }
    }
    .category_product_info{
        .category_product_title h3{
            font-size: 14px;
            text-align: left;
            margin-top: 12px;
            margin-bottom: 2px;         
        }
        .category_product_price{
            margin: 0;
            font-size: 15px;
            text-align: left;
            padding: 0px 0 6px; 
        }
    }
    &:hover .category_product_addtocart .cart-link{
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

}
.category_box_wrapper.grid #productlist .category_box_outside{
    margin-top: 20px;
}
.category_box_wrapper.list .category_product_oldprice{
    text-decoration: line-through;  
}
/*====================== PRODUCT DETAILS ======================*/
.product_detail .gd_navigation {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    a{
        border: 2px solid #323232;
        padding: 5px 12px;
        background-color: #fff;
        font-size: 14px;
        &:hover{
            background: #1a1a1a;
            color: #fff;
        }
    }
}
.gd_nav_left a {
    font-size: 15px;
    padding-left: 15px;
}
.gd_nav_right a {
    font-size: 15px;
    padding-right: 15px;
}
.gd_nav_right {
    float: right;
}
.redSHOP_product_box {
    margin-bottom: 35px;
}

.product_detail {
    margin-bottom: 30px;
    .product_image {
        display: inline-block;
        border: none;
        a{
            display: inline-block;
            img{
                border: 1px solid #dcdcdc;      
            }
        }
    }
    .product_more_images {
        display: inline-block;
        width: 100%;
        margin-top: 8px;
        div.additional_image {
            float: left;
            margin-right: 10px;
        }    
    }   
    .product_title{
        h1{
            margin: 0 0 15px;
        }
    }
    .product_price{
        font-size: 30px;
        margin: 10px 0;
    }
    .product_addtocart .pdaddtocart_link{
        padding: 12px 20px 12px 20px;
        text-transform: uppercase;
        &:before{
            content: '';
            background: url(../images/vm/shopping-bag-white.png) no-repeat scroll center center;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
        &:hover{
            border-color: #fff;
        }
    }
    .compare_products_button{
        margin-top: 10px;
        fieldset.checkbox{
            margin: 0;
            input{
                margin-left: 0;
            }
            label{
                padding-left: 20px;
                margin-top: 0;
            }
        }
    }
    .redshop_links {
        margin-top: 15px;
        .compare_product_div{
            margin-top: 10px;
            a.btn{
                background: transparent none repeat scroll 0 0;
                border: 2px solid #323232;
                color: #555555;
            }
        }
        ul#compare_ul li{
            padding: 3px 0;
            a[id*='removeCompare']{
                color: #363636;
            }
        }
    }
    .manufacturer_link,.ask_question_about_product,.product_writereview{
        a.btn.btn-primary{
            background: none;
            color: #353535;
            font-size: 13px;
            padding: 0;
            margin: 5px 0;
            border-radius: 0;
            border: none;
        }
    }
    .product_desc_full{
        h3{
            background: #f9f9f9;
            padding: 12px 20px;         
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 0;
            display: inline-block;
        }
        div.rs-desc{
            padding: 20px;
            background: #f9f9f9;
        }
    }
}
.redshop-productrating fieldset#jform_user_rating{
    border: none;
    margin: 0;
    input[type="radio"]{
        position: static;
        margin: 0;
    }
    label.btn{
        float: none;
        position: static;
        padding: 0px;
        border: none;
        margin-top: -6px;
        padding: 8px 5px;
        margin-right: 10px;     
    }
}
.product_rating{
    margin: 15px 0;
}
.sunfw-com-redshop  #sbox-window{
    padding: 0;
}

.redhoverImagebox:first-child {
    margin-left: 0;
}
.redSHOP_links {
    display: inline-block;
    width: 100%;
}
.redSHOP_links span {
    margin-bottom: 5px;
}
form#askQuestionForm .redshop-askquestion .send_button input.btn{
    color: #fff;
}
#attribute_ajax_span {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.attributes_box {
    float: left;
    margin-right: 20px;
}
.accessory_box {
    border-bottom: 1px solid #dcdcdc;
}
.redAttributeImage {
    margin-right: 15px;
}
.areacart #product_price span {
    font-size: 20px;
}

.cart-quantity {
    width: auto;
    margin-right: 15px;
    margin-top: 0;
}
.product-cart-link {
    display: inline-block;
}
.product-cart-link span {
    display: inline-block;
    background-image: url(cart.png);
    padding: 14px 25px 11px 55px;
    background-position: 20px center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none !important;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.product-cart-link span:hover {
    background-color: #111 !important;
}
.jsn-joomla-30 .cart-quantity input[type=text],
.cart-quantity input {
    text-align: center;
    border: 1px solid #dcdcdc !important;
    border-radius: 2px;
    padding: 12px 14px;
    height: auto !important;
    box-shadow: none !important;
}
.areacart,
.product_addtocart {
    margin-top: 25px;
}
.product_box_outside > div:first-child {
    border-bottom: 1px solid #dcdcdc !important;
}
.product_box_outside h4,
.gd_header h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.7em;
}
.gd_header {
    margin-top: 30px;
}
.gd_header h4 {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.related_product_wrapper,
.related_produkt_ramme {
    border-top: none;
}
.related_product_inside,
.related_produkt_indre {
    text-align: center;
    width: auto;
    border: 1px solid #dcdcdc;
    padding: 15px;
    border-radius: 2px;
}
.related_product_inside:first-child {
    margin-left: 0;
}
.related_product_left,
.related_produkt_venstre,
.related_product_right,
.related_produkt_hoejre {
    float: none;
    width: auto;
}
.related_product_image,
.related_produkt_billed_ramme {
    width: auto;
}
.related_product_bottom {
    width: auto;
}
.related_product_name, .related_produkt_navn {
    font-weight: normal;
    text-transform: uppercase;
}
.related_product_price {
    font-size: 15px;
    color: #3d3d3d;
    margin: 5px 0;
    display: inline-block;
}
.related_product_addtocart {
    height: auto;
}
#productRatingForm .redshop-productrating > .row{
    margin-bottom: 10px;
}
/*====================== MANUFACTURER LIST======================*/
.manufacturer_box_outside {
    border: 1px solid #dcdcdc;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 15px 15px 0;
}
/*====================== SHOPPING CART ======================*/
.sunfw-com-redshop.sunfw-view-cart h1,
.sunfw-com-redshop.sunfw-view-checkout h1 {
    display: inline-block;
    margin-bottom: 45px;
    width: 100%;
}
.redSHOPSiteViewCart{
    margin-bottom: 30px;
}
.sunfw-com-redshop .discount-code,
.sunfw-com-redshop .total-cart {
    width: 50%;
    float: left;
    margin-top: 15px;
    > table{
        margin: 10px 0;
    }
}
.tdborder th {
    text-align: left;
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 10px;
}
.tdborder td {
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
    border-collapse: collapse;
    padding: 5px 0;
}
.tdborder > td {
    padding: 5px 10px;  
}
.tdborder > th:first-child,
.tdborder > td:first-child {
    border-left: 1px solid #dcdcdc !important;
}
.tdborder > th:last-child,
.tdborder > td:last-child {
    border-right: 1px solid #dcdcdc !important;
}
.tdborder div.product_image {
    padding: 5px 0;
}
.redshop .tdborder .inputbox {
    border: 1px solid #dcdcdc;
    text-align: center;
    margin-bottom: 0;
}
.redshop .tdborder td form {
    display: inline-block;
    vertical-align: middle;
}
.redshop .tdborder td form img.delete_cart {
    margin: -2px 0 0 5px;
}
.sunfw-view-category .category_front_introtext{
    display: none;
} 

.sunfw-com-redshop input[type=text], 
.sunfw-com-redshop input[type=password], 
.sunfw-com-redshop input[type=password], 
input[type=email], 
.sunfw-com-redshop input[type=password], 
.inputbox{
    box-shadow: none !important;
    border-radius: 0;
}
#checkoutfinal {
    margin-left: 5px;
}

.cart_calculations {
    border-collapse: collapse;
}
.cart_calculations td {
    border: 1px solid #dcdcdc !important;
    border-collapse: collapse;
    padding: 5px 10px;
    line-height: 26px;
}
.cart_calculations td strong {
    font-weight: bold;
}
.singleline {
    padding-bottom: 0;
    padding-top: 0;
}
td.cart_discount_form {
    padding-top: 20px;
}
td.cart_discount_form div#coupon_label.coupon_label {
    margin-bottom: 5px;
    display: inline-block;
}
td.cart_discount_form .inputbox {
    margin-right: 15px;
    float: left;
}
.sunfw-com-redshop.sunfw-view-cart td.cart_discount_form .blackbutton {
    padding: 8px 25px 9px;
}
.discount_form #coupon_input{
    padding: 9px 5px;
    min-width: 69px;
    height: 39px;
}
.total-cart .btn.shopmore{
    float: right;
    clear: both;
    margin-top: 5px;
}
/*====================== LOGIN/REGISTER-PAYMENT/CHECKOUT ======================*/
form#adminForm > h4{
    margin-left: 5px;
}
form#adminForm fieldset.adminform legend {
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
}
form#adminForm > table{
    margin-bottom: 10px;
}
#login_div td {
    display: block;
}
.sunfw-com-redshop.sunfw-view-checkout h4 {
    text-transform: uppercase;
}
.sunfw-com-redshop.sunfw-view-checkout #redshopcomponent h4:first-child {
    display: inline-block;
}
.sunfw-com-redshop.sunfw-view-checkout form#adminForm .panel-body a.modal.btn{
    display: inline-block;
    position: static;
    font-size: 14px;
}
#divShipping {
    fieldset.adminform table tr td input{
        margin-right: 10px;
        padding: 8px 18px;
        font-size: 15px;
    }
    .form-group > label{
        min-width: 100px;
    }
}
#tblprivate_customer .form-group,#tdUsernamePassword .form-group {
    > label{
        min-width: 110px;
    }
    > input{
        padding: 2px 10px;
    }
}
form#adminForm fieldset.adminform > table tr td > input.btn.button{
    margin-right: 10px;
    padding: 8px 18px;
    font-size: 15px;
}
.sunfw-com-redshop
#redshopcomponent > ul.nav-wizard{
    padding: 20px 0;
    > li{
        width: 33%;
        display: inline-block;
        padding-left: 40px;
        height: 36px;
        &:first-child{
            background: url(../images/redshop/one.jpg) no-repeat left center;
            &.active{
                background: url(../images/redshop/one_on.jpg) no-repeat left center;
            }
        }
        &:nth-child(2) {
            background: url(../images/redshop/two.jpg) no-repeat left center;
            &.active{
                background: url(../images/redshop/two_on.jpg) no-repeat left center;    
            }   
        }
        &:nth-child(3) {
            background: url(../images/redshop/three.jpg) no-repeat left center;
            &.active{
                background: url(../images/redshop/three_on.jpg) no-repeat left center;  
            }   
        }
        a:hover{
            background: none;
        }       
    }
} 

.cart_customer_note textarea {
    border: 1px solid #dcdcdc;
    border-radius: 0;
}
input#requisition_number {
    border: 1px solid #dcdcdc;
}
#checkoutfinal.greenbutton {
    font-size: 10px;
    margin-left: 10px;
}
div.checkout-div .btn.blackbutton{
    padding: 6px 12px;
}
/*====================== BILLING ======================*/
.sunfw-view-account_billto fieldset.adminform div.form-group{
    label{
        min-width: 110px;
    }
    input.inputbox{
        padding: 6px 9px;
    }
}

/*====================== MODULES ======================*/
/*---------------- PRODUCT TABS ----------------*/
dl.tabs {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #DCDCDC;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
    -webkit-box-sizing: border-box;
    margin-bottom: 15px;
}
dl.tabs dt {
    float: left;
    padding: 7px 10px;
    border-right: 1px solid #dcdcdc;
    -webkit-transition: all .3sease-in-out;
       -moz-transition: all .3sease-in-out;
        -ms-transition: all .3sease-in-out;
         -o-transition: all .3sease-in-out;
            transition: all .3sease-in-out;
}
dl.tabs dt:hover {
    background: #f0f0f0 !important;
}
dl.tabs dt.open,
dl.tabs dt.closed {
    border-left: none;
    border-top: none;
    border-bottom: none;
}
dl.tabs dt.open {
    background: #f0f0f0 !important;
    position: relative;
    border-bottom: none !important;
}
dl.tabs dt.open:after {
    content: '';
    border-top: 8px solid #f0f0f0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: none;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -6px;
}
.sunfw-com-redshop div.current {
    text-align: center;
    padding: 0;
}
.sunfw-com-redshop div.current ul li {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 5px 0;
    display: inline-block;
}
.sunfw-com-redshop div.current ul li:first-child {
    margin-left: 0;
}
.sunfw-com-redshop div.current ul li:last-child {
    margin-right: 0;
}
.mod_redshop_products_price {
    font-size: 16px;
}
.sunfw-com-redshop div.current ul li div.product_thumb {
    position: relative;
}
.sunfw-com-redshop div.current ul li div.product_thumb a,
.sunfw-com-redshop div.current ul li div.product_thumb a img {
    display: block;
}
.sunfw-com-redshop div.current ul li div.product_thumb a:before {
    content: "+";
    background: #333;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    margin-top: -35px;
    margin-left: -35px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.sunfw-com-redshop div.current ul li div.product_thumb a:hover:before {
    opacity: 1;
    top: calc(50% - 35px);
}
.sunfw-com-redshop div.current ul li div.product_thumb a:after {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.sunfw-com-redshop div.current ul li div.product_thumb a:hover:after {
    opacity: 1;
}
ul.list-product-tab a.product_name {
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 0;
    min-width: 98%;
}
body.jsn-textstyle-business ul.list-product-tab a.product_name {
    font-family: 'Exo 2',Verdana,Helvetica,sans-serif;
}
body.jsn-textstyle-personal ul.list-product-tab a.product_name {
    font-family: Georgia,serif;
}
body.jsn-textstyle-news ul.list-product-tab a.product_name {
    font-family: "Palatino Linotype",Palatino,serif;
}
/*---------------- PRODUCT SCROLLER ----------------*/
marquee a {
    display: block;
}
/*---------------- SHOPPING CART ----------------*/
.sunfw-com-redshop div.mod_cart_main div.mod_cart_top div.mod_cart_title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
div.mod_cart_main div.mod_cart_top div.mod_cart_image{
    margin-right: 5px;
}
div.mod_cart_main {
    padding: 0px 5px;
}
div.mod_cart_main #mod_cart_total {
    margin-top: 10px;   
}
#mod_cart_checkout_ajax {
    margin: 12px 0 5px;
    display: block; 
}
.sunfw-com-redshop div.mod_cart_main div.mod_cart_checkout a {
    padding: 8px 10px;    
    transition: all 0.3s ease-in-out;
    background: #fff;
    color: #363636;
    border: 2px solid #353535;
    display: block;
    &:hover{
        background: #353535;
        color: #fff;
    }
}
#mod_cart_total {
    .mod_cart_extend_total_pro_value{
        padding-bottom: 10px;
    }
    .mod_cart_totalprice{
        border-top: 4px double #ebe9eb;
        padding-top: 10px;
        .mod_cart_total_txt{
            float: left;
        }
        .mod_cart_total_value{
            float: right;
            font-weight: bold;
            font-size: 16px;
        }
    }
}

/*---------------- FEATURED PRODUCTS ----------------*/
.sunfw-com-redshop .red_product-skin-produkter .red_product-clip-horizontal {
    height: auto;
}
.sunfw-com-redshop .red_product-skin-produkter .red_product-item {
    height: auto;
    display: inline-block;
    background: #fff;
    border:  1px solid #dcdcdc;
    border-radius: 5px;
}
.sunfw-com-redshop .red_product-skin-produkter .red_product-item .product-shop {
    text-align: center;
    width: 100%;
    float: none;
}
.sunfw-com-redshop .red_product-skin-produkter .red_product-item .product-shop a {
    font-size: 16px;
}
.sunfw-com-redshop .red_product-skin-produkter .red_product-next-horizontal,
.sunfw-com-redshop .red_product-skin-produkter .red_product-next-horizontal:hover {
    background: url(arrow.png) right 0 no-repeat;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    width: 25px;
}
.sunfw-com-redshop .red_product-skin-produkter .red_product-prev-horizontal,
.sunfw-com-redshop .red_product-skin-produkter .red_product-prev-horizontal:hover {
    background: url(arrow.png) 0 -138px no-repeat;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    width: 25px;
}
.sunfw-com-redshop .red_product-skin-produkter .product-image a {
    position: relative;
    display: block;
}
.sunfw-com-redshop .red_product-skin-produkter .product-image a img {
    display: block;
}
.sunfw-com-redshop .red_product-skin-produkter .product-image a:before {
    content: "+";
    background: #333;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    margin-left: -35px;
    opacity: 0;
    transition: all .3s ease-in-out;
    text-align: center;
}
.sunfw-com-redshop .red_product-skin-produkter .product-image a:hover:before {
    opacity: 1;
    top: calc(50% - 35px);
}
.sunfw-com-redshop .red_product-skin-produkter .product-image a:after {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    width: 100%;
    z-index: 9;
}
.sunfw-com-redshop .red_product-skin-produkter .product-image a:hover:after {
    opacity: 1;
}

/*---------------- CURRENCIES ----------------*/
#product_currency.inputbox {
    padding: 6px 4px;
    margin-bottom: 10px;
} 
/*---------------- CATEGORIES LISTING ----------------*/
div[class*="solid-"].jsn-redshop-categories ul {
    margin: 0 -10px -10px;
}
.jsn-redshop-categories ul li a {
    padding: 10px 10px 10px 25px;
    border-bottom: 1px solid #efefef;
    background: url(../../images/icons/icons-base.png) 7px -832px no-repeat;
    color: #282828;
}
.jsn-redshop-categories ul li:last-child a {
    border-bottom: none;
} 
.jsn-redshop-categories ul li.active a {
    font-style: normal !important;
}
.rs-cart {
    .module-title{
        border: 1px solid #e5e5e5;
    }
    .module-body{
        border: 1px solid #e5e5e5;
        border-top: none;
    }
}


/*====================== MODULE PRODUCT ======================*/
.mod_redshop_products_wrapper{
    margin: 30px -15px 0;
}
.mod_redshop_products_wrapper .mod_redshop_products_horizontal{
    .mod_redshop_products_image{
        position: relative;
        overflow: hidden;   
        margin-bottom: 5px;
        img{
            @include transition(all 0.35s ease 0s);
        }   
    }
    .mod_redshop_products_addtocart{
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: center;
        z-index: 1; 
        .pdaddtocart_img_link {
            opacity: 0;                 
            -webkit-transform: translate3d(30px, 0px, 0px);
            -ms-transform: translate3d(30px, 0px, 0px);
            -o-transform: translate3d(30px, 0px, 0px);
            transform: translate3d(30px, 0px, 0px);
            transition: all 0.35s ease 0s;            
            background: #fff url(../images/vm/shopping-bag.png) no-repeat scroll center center;
            border: medium none;
            border-radius: 0;
            display: inline-block;
            height: 36px;
            padding: 0;
            text-indent: -999em;
            width: 36px;
            
        }
    }
    .category_product_info{
        .category_product_title h3{
            font-size: 14px;
            text-align: left;
            margin-top: 12px;
            margin-bottom: 2px;         
        }
        .category_product_price{
            margin: 0;
            font-size: 15px;
            text-align: left;
            padding: 0px 0 6px; 
        }
    }
    &:hover .mod_redshop_products_addtocart .pdaddtocart_img_link{
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
}
@-moz-document url-prefix() {
    .mod_redshop_products_wrapper .mod_redshop_products_horizontal .mod_rs_info > .mod_redshop_products_addtocart{
        position: absolute;
        top: 0;
        left: 0;
    }
}
.pillow-mod-products .box-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 700;
}
.pillow-mod-products .mod_redshop_products_wrapper .mod_redshop_products_horizontal{
    width: 25%;
    padding: 15px;
    &:last-child{
        margin-right: 0;
    }
}
@media only screen and (max-width: 1024px), (max-device-width: 1024px){
    .pillow-mod-products .mod_redshop_products_wrapper .mod_redshop_products_horizontal{
        width: 50%;
        margin-bottom: 20px;
        .mod_redshop_products_image img{
            width: 100%;
        }       
    }   
}
@media only screen and (max-width: 480px), (max-device-width: 480px){
    .pillow-mod-products .mod_redshop_products_wrapper .mod_redshop_products_horizontal{
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
}

/*====================== MODULE SEARCH ======================*/
form .product_search {
    margin-top: -15px;
    padding-left: 5px;
    #search_type{
        max-width: 100%;
        margin: 5px 0;
    }
    input#keyword{
        background: #fff;
        border: 1px solid #e6e6e6;
        padding: 10px;
        width: 100%;
        height: 40px;
        &:focus{
            outline: none;
        }
    }
    .product_search_catdata_category{
        margin: 5px 0;
    }
    .product_search_button{
        margin-top: 8px;
        input#Search{
            border: none;
            color: #fff;
            padding: 6px 18px;
            text-transform: uppercase;  
        }
    }
}
.pillow-search-header {
    padding: 15px 0;
    form .product_search {
        input#keyword{
            height: 40px;
        }
        .product_search_button{
            display: none;   
        }
    }


}
//Fix
#ajax_cart_text{
    text-align: center;
    font-size: 20px;
}
#ajax_cart_wrapper #ajax_cart_button_inside {
    text-align: center;
    #ajax_cart_continue_button,#ajax_cart_show_button{
        display: inline-block;
        input{
            padding: 8px 16px;
            font-size: 15px;
        }
    }
}

.rs-search .module-body{
    border: 1px solid #e5e5e5;
    border-top: none;
}
#sunfw-master #sbox-window{
    max-height: calc(100% - 100px) !important;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    #ajax_cart_text{
        margin-top: 10px;
    }
}
.redshop-askquestion {
    .row {
        margin-bottom: 10px;
    }
    .send_button{
        margin-top: 10px;
        input.btn{
            background: #222;
        }
    }
}
#ajax_cart_continue_button,#ajax_cart_show_button{
    input{
        border-radius: 0;
        margin-left: 5px;
    }
}
.redshop .pagination > .active {
    > a,
    > a:hover, 
    > a:focus, 
    > span, 
    > span:hover, 
    > span:focus{
        color: #fff;
    }
}
/*====================== MOBILE ======================*/
@media only screen and (min-width: 569px) and (max-width: 768px), (min-device-width: 569px) and (max-device-width: 768px) {
    .redSHOP_product_box_left .product_image {
        width: 100%;
    }
    .redSHOP_product_box_left,
    .redSHOP_product_box_right {
        width: 49%;
    }
    .redSHOP_product_box_left .product_image a {
        display: inherit;
    }
}
@media only screen and (max-width: 568px), (max-device-width: 568px) {
    .jsn-mobile .redSHOP_product_box_left,
    .jsn-mobile .redSHOP_product_box_right {
        width: 100%;
    }
    .jsn-mobile .category_box_outside_row {
        text-align: center;
    }
    .jsn-mobile .category_box_outside_row .category_product_image,
    .jsn-mobile .category_box_outside_row .kategori_produkt_billede {
        width: 100%;
        float: none;
    }
    .jsn-mobile .category_box_outside_row .category_product_name {
        width: 100%;
        float: none;
    }
    .jsn-mobile .category_box_outside_row .category_product_container {
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .jsn-mobile .category_box_outside_row .category_product_container table {
        width: 100%;
    }
    .jsn-mobile .category_box_outside_row .category_product_container table .cart-link {
        margin: 15px auto 0;
    }
    .jsn-mobile .category_box_outside {
        margin-right: 10px;
    }
    .jsn-mobile .category_box_outside .cart-link span {
        padding: 14px 17px 11px 46px;
    }
    .sunfw-com-redshop .discount-code,
    .sunfw-com-redshop .total-cart,
    td.table-checkout {
        width: 100%;
        float: left;
    }
    .sunfw-com-redshop .discount-code {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #dcdcdc;
    }
    div.checkout-div {
        float: left;
        text-align: left;
    }
}
@media only screen and (max-width: 480px), (max-device-width: 480px) {
    #productlist .category_box_outside {
        width: 100%;
    }
    .tdborder thead th:nth-child(2),
    .tdborder tbody td:nth-child(2) {
        display: none;
    }
    .redshop .tdborder td form {
        text-align: center;
        display: block;
        float: none;
    }
    .redshop .tdborder td form img.delete_cart {
        margin-top: 2px;
        margin-left: 25px;
        display: block;
    }
    .redshop .tdborder > td {
        padding: 5px 2px;
    }
    .redshop .tdborder td form img.update_cart {
        margin: 5px 25px;
        display: block;
    }
    .sunfw-com-redshop #sbox-window{
        width: 98% !important;
        left: 5px !important;
    }
    .redshop-askquestion {
        .row > [class*='col-']{
            width: 100% !important;
        }
        .send_button{
            margin-top: 10px;
        }
    }
    .sunfw-com-redshop #redshopcomponent > ul.nav-wizard > li{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .redshop-billingaddresses .row > div{
        word-wrap: break-word;
    }
    #redshopcomponent .table-checkout .checkout-div > label.checkbox{
        margin-left: 20px;
    }
    #redshopcomponent .checkout-div {
        #checkoutfinal input#checkout_final{
            font-size: 16px;
        }
        input.btn.blackbutton{
            padding: 8px 12px;
            font-size: 16px;
        }
    }  
    #redshopcomponent .panel-default .product_image{
        width: 20px;
    }
}
@media only screen and (max-width: 320px), (max-device-width: 320px) {
    .category_main_toolbar div {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .category_box_wrapper.grid .category_box_inside .category_product_addtocart .cart-link,
    .mod_redshop_products_wrapper .mod_redshop_products_horizontal .mod_redshop_products_addtocart .pdaddtocart_img_link{
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
}