.itemListView {
  div.catItemHeader {
    span.catItemDateCreated, .catItemAuthor {
      display: inline-block;
      font-size: 11px;
      line-height: 24px;
      font-family: "Ubuntu";
      i {
        @include rtl-padding-right(5px);
      }
    }
    span.catItemDateCreated {
      padding-left: 10px;
    }
    h3.catItemTitle {
      padding-bottom: 15px;
      line-height: 1.4em;
	  font-family: "Ubuntu";
    }
  }
  div.catItemLinks {
    margin-bottom: 0;
    > div {
      display: inline-block;
      @include rtl-padding-right(15px);
    }
    i {
      @include rtl-padding-right(5px);
    }
  }
  div.catItemView {
    margin-bottom: 20px;
    padding: 0;
  }
  .catItemImageBlock {
    margin-bottom: 0;
  }
  div.catItemIntroText {
    padding-bottom: 0;
    font-size: 14px;
    font-family: "Ubuntu";
    line-height: 22px;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.itemView {
  .info-item {
    > span, > div {
      display: inline-block;
      @include rtl-padding-right(10px);
    }
    .itemRatingBlock {
      padding: 0;
      .itemRatingForm {
        margin-bottom: -5px;
      }
    }
    i {
      @include rtl-padding-right(5px);
    }
  }
  div.itemToolbar {
    margin: 15px 0;
  }
  #comment-form {
    .form-group {
      label {
        padding-bottom: 10px;
      }
    }
  }
  .itemBackToTop {
    padding-top: 20px;
  }
}
.tagView {
  div.tagItemHeader span.tagItemDateCreated {
    font-size: 14px;
    i {
      padding-right: 5px;
    }
  }
  div.tagItemView {
    margin-bottom: 30px;
  }
}
div.itemToolbar {
	padding-left: 0;
	padding-right: 0;
	ul {
		text-align: left;
		li {
		&:first-child {
			padding-left: 0;
		}
		}
	}
}
// override for template
h3.catItemTitle {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 10px;
}
.itemView {
  h2.itemTitle {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0px !important;
	font-family: Ubuntu;
  }
  div.itemCommentsForm {
    h3 {
      font-size: 18px;
    }
    form input#submitCommentButton {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: #fff;
      display: inline-block;
      text-align: center;
      font-size: 13px;
      height: 45px;
      line-height: 41px;
      letter-spacing: 0px;
      padding: 0 20px;
      border-radius: 2px;
      text-transform: uppercase !important;
    }
    p.itemCommentsFormNotes {
      border-top: 1px solid #e9e9e9;
    }
    form {
      input.inputbox,textarea.inputbox {
        color: #c9c9c9;
        font-size: 13px;
        border-color: #e9e9e9;
        @include box-shadow(none);
      }
    }
  }
  div.itemComments {
    background: #fff;
    border-radius: 2px;
    padding: 11px 16px 16px;
    border-color: #e9e9e9;
  }
  .itemAuthorLatest, .itemRelated {
    h3 {
      font-size: 18px;
    }
  }
  div.itemLinks {
    margin: 7px 0;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;
  }
}
#k2Container {
  padding-bottom: 0;
  margin-bottom: 0;
}
#k2Container.k2AccountPage {
  padding-top: 10px;
  th.k2ProfileHeading {
    background: transparent;
  }
}
div.k2AccountPage {
  table.admintable td.key, .k2AccountPage table.admintable td.paramlist_key {
    font-size: 14px;
  }
  table tr {
    padding-bottom: 10px;
    display: block;
    td label {
      @include rtl-padding-right(10px);
    }
  }
  #genderm-lbl, #genderf-lbl {
    @include rtl-padding-left(50px);
  }
  input {
    padding: 3px 12px;
  }
}
.itemSocialSharing {
  .itemTwitterButton, .itemFacebookButton {
    @include rtl-margin-right(5px);
    margin-top: 0;
  }
}

.tagView {
  div.tagItemImageBlock {
    float: none;
  }
  h2 {
    font-size: 16px;
  }
  span.tagItemImage {
    @include rtl-margin-right(0);
  }
}
.userView {
  .userBlock {
    h2 {
      margin: 8px 0 0 !important;
    }
    h3 {
      margin: 10px 0 0 !important;
    }
  }
  div.userItemImageBlock {
    float: none;
  }
  span.userItemImage {
    @include rtl-margin-right(0);
  }
}
#k2Container {
  .itemTitle {
    sup {
      background: #FF6E6E;
      color: #fff;
      padding: 2px 8px;
      border-radius: 2px;
      font-family: "Roboto";
    }
  }
  .info-item {
    margin-bottom: 10px;
    font-size: 12px;
    font-family: "Ubuntu";
    font-weight: 400;
  }
  div.itemIntroText {
    margin-bottom: 15px;
  }
  div.itemFullText {
    font-family: "Ubuntu";
    font-weight: 400;
  }
  .itemContentFooter {
    font-family: "Ubuntu";
    font-weight: 400;
  }
  div.itemToolbar {
    margin: 0;
    background: none;
  }
  div.itemVideoBlock {
    padding: 5px;
    background: #fff;
    border: 1px solid $border-color-base;
    border-radius: 3px;
  }
  h3.itemAuthorName {
    margin-top: 10px;
  }
  div.itemNavigation {
    padding: 8px 0;
    overflow: hidden;
    background: none;
    font-size: 13px;
    i {
      font-size: 14px;
    }
    span {
      display: block;
      font-size: 12px;
    }
  }
  div.itemNavigation .itemNext {
    padding: 0;
    @include rtl-float-right();
    @include rtl-text-align-right();
    
  }
  div.itemNavigation .itemPrevious {
    padding: 0;
    @include rtl-float-left();
    @include rtl-text-align-left();
  }
}
//
// K2
// --------------------------------------------------
.owl-nav {
  position: absolute;
  top: -53px;
  @include rtl-right(0);
  .owl-prev, .owl-next {
    border: 1px solid $border-color-base;
    width: 24px;
    height: 24px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    @include rtl-float-left();
  }
  .owl-prev {
    @include rtl-margin-right(-1px);
  }
  overflow: hidden;
  border-radius: 3px;
}
.k2ItemsBlock  {
  // for video
  .btn-video-popup {
    border-radius: 3px;
    background: #ff6868;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 21px;
    padding: 6px 21px 7px 24px;
    height: 35px;
    line-height: 100%;
    position: absolute;
    bottom: 10px;
    @include rtl-left(10px);
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
    }
  }
  .moduleItemVideo {
    iframe {
      width: 100%;
    }
  }
  a.moduleItemTitle {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    line-height: 21px;
    &:hover {
      color: $primary-color;
    }
  }
  .item-image {
    position: relative;
    overflow: hidden;
    img {
      @include scale(1,1);
      @include transition(all 0.3s ease-out 0.1s);
    }
    @media (min-width: $screen-md-min) {
      &:hover {
        img {
          @include scale(1.1,1.1);
        }
      }
    }
  }
  .moduleItemIntrotext {
    margin-top: 13px;
    font-size: 14px;
    font-family: "Ubuntu";
    line-height: 22px;
  }
  .moduleCustomLink {
    position: absolute;
    @include rtl-right(0);
    top: -53px;
    font-weight: 500 !important;
    line-height: 100%;
  }
  .moduleItemAuthor, .moduleItemDateCreated {
    font-size: 11px;
    color: #7d7d7d;
    font-family: "Ubuntu";
    a {
      color: #5688e3 !important;
    }
  }
  .moduleItemDateCreated {
    margin-left: 20px;
    position: relative;
    line-height: 100%;
    &:before {
      content: "\f068";
      font-family: "FontAwesome";
      position: absolute;
      left: -13px;
      font-size: 6px;
      top: 2px;
      text-shadow: none;
    }
  }
  &.default {
    a.moduleItemTitle {
      font-size: 13px;
      font-weight: 400;
      margin-top: -5px;
    }
    ul {
      padding: 0;
    }
  }
  &.k2FeatureVideo {
    margin-bottom: 10px;
    .btn-video-popup {
      top: 50%;
      margin-top: -17px;
      bottom: inherit;
      @include rtl-left(50%);
      @include rtl-margin-left(-30px);
      @include transition(all 0.3s ease-out 0);
    }

    .big-item {
      .btn-video-popup {
        @include scale(1,1);
      }
      .item-header {
        text-align: center;
        a.moduleItemTitle {
          font-size: 26px;
        }
      }
    }
    .row {
      margin-right: -5px;
      margin-left: -5px;
    }
    .Item {
      margin-bottom: 7px;
      &:hover {
        .btn-video-popup {
          @include scale(1,1);
        }
      }
    }
    .col-lg-3,.col-lg-6 {
      padding-left: 5px;
      padding-right: 5px;
    }
    .item-image {
      position: relative;
    }
    .item-header {
      position: absolute;
      bottom: 0;
      padding: 15px;
      color: #fff;
      width: 100%;
      a.moduleItemTitle {
        font-size: 16px;
        color: #fff !important;
        font-weight: bold;
		line-height: 20px;
        &:hover {
          color: $primary-color;
        }
      }
      .moduleItemAuthor,
      .moduleItemAuthor a,
      .moduleItemDateCreated {
        color: #fff !important;
      }
    }
  }
  &.k2FeatureList {
    padding-bottom: 6px;
    .row {
      margin-left: -5px;
      margin-right: -5px;
    }
    .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px;
    }
    .Item {
      margin-bottom: 11px;
      &.lastItem {
        margin-bottom: 0;
      }
      .moduleItemImage img {
        max-width: 96px;
      }
      a.moduleItemTitle {
        font-family: "Ubuntu";
        font-weight: 500;
      }
    }
    .firstItem {
      .item-image {
        border-radius: 2px;
        overflow: hidden;
      }
      .item-body {
        position: absolute;
        bottom: 0;
        padding: 15px 20px 15px;
        * {
          position: relative;
        }
        &:before {
          content: "";
          width: 100%;
          height: 0%;
          position: absolute;
          left: 0;
          bottom: 0;
          @include gradient-vertical(rgba(#000,0),rgba(#000,0.6));
          transition: all 0.3s ease-out 0;
        }
        a.moduleItemTitle {
          font-size: 24px;
          color: #fff;
          font-weight: 700;
          line-height: 1.4;
        }
      }
      .moduleItemAuthor {
        img {
          @include rtl-margin-right(3px);
        }
        a {
          color: #fff !important;
        }
      }
      .moduleItemDateCreated {
        color: #fff;
        @include rtl-margin-left(15px);
        i {
          @include rtl-margin-right(5px);
        }
        &:before {display: none;}
      }
      .moduleItemCategory {
        background: #3cb878;
        color: #fff;
        text-transform: uppercase;
        font-size: 9px;
        padding: 0px 8px;
        border-radius: 2px;
        display: inline-block;
        line-height: 17px;
        margin-bottom: 15px;
      }
      &:hover {
        .item-body {
          &:before {
            height: 100%;
          }
        }
      }
    }
    .k2Avatar img {
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      float: none;
      display: inline-block;
      border-radius: 0;
    }
  }
  &.k2ListStyle2 {
    position: relative;
    padding-bottom: 20px;
    .big-block {
      .Item {
        @include rtl-border-right(1px solid #e9e9e9);
        .moduleItemTitle {
          min-height: 40px;
          font-family: "Ubuntu";
          font-family: 500;
          line-height: 22px;
        }
      }
      .item-image {
        margin-bottom: 20px;
      }
    }
    .item-small-block {
      margin-bottom: 15px;
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 15px;
      &.lastItem {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  &.k2SliderList {
    padding-bottom: 20px;
    .item-image {
      margin-bottom: 17px;
    }
    &.no-background {
      .owl-prev, .owl-next {
        border-color: #233c6b;
        color: #828285;
      }
      .owl-stage-outer {
        overflow: inherit;
      }
      .owl-item {
        @include opacity(0.2);
        &.active {
          @include opacity(1);
        }
      }
    }
    &.has-line-vertical {
      .owl-list-k2 {
        .owl-item {
          &.active {
            &:before {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              @include rtl-right(-15px);
              top: 0;
              background: $border-color-base;
            }
            &:last-child {
              &:before {
                display: none;
              }
            }
          }

        }
      }
    }
  }
  &.k2GridStyle1 {
    position: relative;
    .item-image {
      margin-bottom: 15px;
      border-radius: 3px;
      overflow: hidden;
    }
    .firstItem {
      .item-image {
        margin-bottom: 20px;
      }
      a.moduleItemTitle {
        font-size: 26px;
      }
    }
    .Item {
      margin-bottom: 24px;
    }
  }
  &.k2GridStyle2 {
    position: relative;
    .item-image {
      margin-bottom: 15px;
      border-radius: 3px;
      overflow: hidden;
    }
    .Item {
      margin-bottom: 24px;
      @include rtl-border-right(1px solid #e9e9e9);
      &:nth-child(n+3) {
        @include rtl-border-right(none);
      }
    }
  }
  &.k2ListStyle1 {
    position: relative;
    .Item {
      padding-bottom: 15px;
      margin-bottom: 18px;
      border-bottom: 1px solid $border-color-base;
      .moduleItemTitle {
        margin-bottom: 10px;
        font-size: 16px;
        font-family: "Ubuntu";
        font-family: 500;
        line-height: 21px;
      }
    }
    .item-image {
      margin-bottom: 20px;
    }
    .item-body {
      min-height: 75px;
    }
    ul {
      padding: 0;
      li {
        position: relative;
        @include rtl-padding-left(31px);
        .number-order {
          color: #cecece;
          font-weight: bold;
          font-size: 16px;
          position: absolute;
          top: 0;
          @include rtl-left(0);
          line-height: 1.428;
        }
        a.moduleItemTitle {
          display: inline-block;
          margin-bottom: 0;
          font-size: 13px;
          font-weight: 400;
          max-height: 22px;
          overflow: hidden;
          vertical-align: top;
        }
      }
    }
  }
  &.last-update {
    font-size: 11px;
    line-height: 23px;
    .moduleItemDateCreated {
      &:before {
        content: '|';
        font-family: "Ubuntu";
        font-size: 11px;
        top: 2px;
      }
    }
  }
}
//Hot news day 
.hot-news {
  padding: 19px 0;
  &.k2ItemsBlock {
    display: inline-block !important;
    width: 79%;
    padding: 0;
    position: relative;
    vertical-align: middle;
  }
  .module-title  {
    margin: 0 !important;
    display: inline-block;
    background: #ff6e6e !important;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 8px 4px;
    border-radius: 2px;
    vertical-align: top; 
  }
  ul li, .media-heading {
    margin-bottom: 0px !important;
  }

  a.moduleItemTitle {
    margin-bottom: 0;
    margin-top: 0 !important;
    @include rtl-margin-left(10px);
    color: #282828 !important;
    .read-more {
      color: $primary-color;
    }
  }
}
div.k2CategoriesListBlock ul li {
  line-height: 100%;
  a span.catTitle {
    @include rtl-padding-right(0);
  }
}
div.itemContainer {
  float: none;
}

/* Category K2 */
.itemListView {
  .catItemBody {
    padding: 0;
  }
  .catItemImageBlock {
    margin: 0;
    padding: 0;
    .catItemImage {
      margin: 0;
    }
  }
  .catItemAuthor, .catItemDateCreated {
    font-size: 11px;
    font-family: "Ubuntu";
  }
}
div#itemListLeading {
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: 21px;
  [class*="col-"] {
    padding-left: 3px;
    padding-right: 3px;
  }
  .itemContainer {
    .catItemView {
      position: relative;
      margin-bottom: 5px;
    }
    .catItemHeader {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 15px;
    }
    .catItemTitle a {
      color: #fff;
      font-size: 26px;
    }
    .catItemAuthor, .catItemDateCreated {
      color: #fff;
      margin-bottom: 13px;
      text-transform: uppercase;
      a {
        color: #fff;
      }
    }
    &.no-view-date-author {
      .catItemTitle a {
        font-size: 16px;
      } 
      .catItemAuthor, .catItemDateCreated {
        display: none;
      }
    }
  }
}
#itemListPrimary, #itemListSecondary {
  .catItemImageBlock {
    margin-bottom: 20px;
  }
  .catItemTitle {
    margin-bottom: 5px;
    a {
      font-family: "Ubuntu";
      font-weight: 500;
      font-size: 16px;
      color: #282828;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .catItemHeader {
    margin-bottom: 5px;
  }
}
#itemListPrimary {
  > [class*="col-"] {
    @include rtl-border-right(1px solid $border-color-base);
    padding-bottom: 24px;
    &.itemContainerLast {
      @include rtl-border-right(1px solid transparent);
    }
  }
}
div#itemListSecondary {
  margin-top: 20px;
  border-top: 1px solid $border-color-base;
}
div#itemListSecondary {
  [class*="col-"] {
    @include rtl-border-right(1px solid $border-color-base);
    margin-top: 16px;
    margin-bottom: 16px;
    &.itemContainerLast {
      @include rtl-border-right(1px solid transparent);
    }
  }
  .clearfix {
    height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    background: #ebebeb;
    clear: both;
    &:before,&:after {
      display:table;
      content:" ";
    }
  }
}
div.k2Pagination {
  position: relative;
  padding: 0;
  margin-bottom: 0;
  .pagination {
    margin-bottom: 0;
    margin-top: 51px;
  }
  &:after {
    content: "";
    width: 15px;
    background: #fff;
    height: 120px;
    position: absolute;
    top: 0;
    @include rtl-right(-16px);
    
  }
  ul li {
    a {
      margin: 0 2px;
      width: 44px;
      height: 44px;
      line-height: 31px;
      font-size: 14px;
      font-family: "Ubuntu";
      border-radius: 50%;
      border: 1px solid transparent;
      color: #6c6c6c;
      &:hover, &:focus {
        color: $primary-color;
        background: transparent;
        border: 1px solid transparent;
      }
    }
    &.disabled {
      a {
        border: 1px solid transparent;
        &:hover {
          border: 1px solid transparent;
        }
      }
    }
    &.active {
      a {
        border-radius: 50%;
        background: #f4f4f4;
        border-color: #f4f4f4;
        color: $primary-color;
        &:hover {
          background: #f4f4f4;
          border-color: #f4f4f4;
          color: $primary-color;
        }
      }
    }
  }
}
div.itemAuthorLatest ul li a,
div.itemRelated ul li a {
  font-size: 13px;
}
div.itemTagsBlock ul.itemTags {
  a {
    color: $primary-color;
  }
}