
// form contact

.form-contact {
  .control-group {
    margin-bottom: 20px;
    zoom: 1;
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
  }
  .control-label {
    @include rtl-float-left();
    width: 160px;
    padding-top: 5px;
    @include rtl-text-align-right();
  }
  .controls {
    display: inline-block;
    @include rtl-padding-left(20px);
    width: calc(100% - 180px);

    input, textarea {
    	display: block;
    	width: 100%;
    }

  }
  .help-block {
    margin-bottom: 0;
  }
  input + .help-block, select + .help-block, textarea + .help-block, .uneditable-input + .help-block, .input-prepend + .help-block, .input-append + .help-block {
    margin-top: 10px;
  }
  .form-actions {
    @include rtl-padding-left(180px);
  }
}

// Form Newsletter
#sunfw-master [id^="jsn_form_"] {
  .jsn-bootstrap {
    padding: 0;
  }
  .control-group {
    padding: 0;
  }
  input {
    border: 1px solid #e9e9e9;
    @include rtl-padding(10px, 8%, 10px, 2%);
    width: 90% !important;
  }
  .form-actions {
	padding: 0;
	margin: 0;
    .jsn-form-submit {
      position: absolute;
      @include rtl-right(0);
      top: 10px;
      background: transparent;
      border: none;
      width: 35px;
      height: 35px;
      padding: 0;
      color: transparent;
      text-align: center;
      font-size: 0;
      border-radius: 0;
      box-shadow: none;
      &:before {
        content: "\f0e0";
        font-family: "FontAwesome";
        color: #ccc;
        font-size: 24px;
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
  .jsn-text-center {
    display: none;
  }
}