<!--CSS AND JS LIVE-->

<!--<link href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/plug-ins/e9421181788/integration/jqueryui/dataTables.jqueryui.css" rel="stylesheet" type="text/css" />
<link href="http://cdn.datatables.net/1.10.1/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<link href="http://datatables.net/release-datatables/extensions/ColVis/css/dataTables.colVis.css" rel="stylesheet" type="text/css" />
<link href="https://datatables.net/release-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
<link href="https://datatables.net/release-datatables/extensions/ColReorder/css/dataTables.colReorder.css" rel="stylesheet" type="text/css" />
<link href="components/com_phpmyjoomla/views/managetables/tmpl/css/phpmyjoomla_css_custom.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type='text/javascript' src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type='text/javascript' src="http://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>
<script type='text/javascript' src="https://cdn.datatables.net/plug-ins/e9421181788/integration/jqueryui/dataTables.jqueryui.js"></script>
<script type='text/javascript' src="components/com_phpmyjoomla/views/managetables/tmpl/js/ZeroClipboard.js"></script>
<script type='text/javascript' src="components/com_phpmyjoomla/views/managetables/tmpl/js/TableTools.js"></script>
<!--<script type='text/javascript' src="https://datatables.net/release-datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>--*>
<script type='text/javascript' src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery.dataTables.columnFilter.js"></script>
<script type='text/javascript' src="https://datatables.net/release-datatables/extensions/ColReorder/js/dataTables.colReorder.js"></script>
<script type='text/javascript' src="http://datatables.net/release-datatables/extensions/ColVis/js/dataTables.colVis.js"></script>
<script type='text/javascript' src="components/com_phpmyjoomla/views/managetables/tmpl/js/phpmyjoomla_js_custom.js"></script>-->

<!--END CSS AND JS LIVE-->