
// ======================================
// ---------- Item Back To Top ----------
// ======================================

.sunfw-scrollup {
    bottom: 220px;
    i {
        @include size(40px, 40px);
        line-height: 40px;
        text-align: center;
    }
}

// ======================================
// --------------- Logo -----------------
// ======================================

.logo {

}

// ======================================
// --------------- Copyright ------------
// ======================================


.copyright {
    font-size: 13px;
    padding-top: 33px;
    padding-bottom: 33px;
    color: #9196a2;
}

// ======================================
// ------------- Social Icon ------------
// ======================================

.social {
    @include rtl-text-align-right();
    li {
        padding: 0;
        background: #fff;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 22px;
        border: 1px solid #FFF;
        border-radius: 50%;
        @include rtl-margin-right(12px);
        a {
            text-align: center;
            color: #272a34 !important;
            display: inline-block;
            cursor: pointer;
            font-size: 13px;
            &:hover {
                color: $primary-color !important;
            }
        }
        &:last-child {
            @include rtl-margin-right(0);
        }
    }
}

// ======================================
// ------------- Cookia-low -------------
// ======================================

.cookialaw {
    display: none;
    z-index: 999;
    p {
        line-height: 34px;
        margin-bottom: 0;
    }

    &.top {
        top: 0;
    }

    &.left {
        @include rtl-left(0);
    }

    &.right {
        @include rtl-right(0);
    }

    &.bottom {
        bottom: 0;
    }

    &.fixed {
        position: fixed;
    }

    &.full {
        width: 100%;
    }

    &.show {
        display: block;
    }

}

// ======================================
// ------------- Custom HTML ------------
// ======================================

.custom-html {
    
}

// ======================================
// ------------- Subscribe ------------
// ======================================

.subscribe {
  .btn {
    line-height: 20px;
    border-radius: 0;
  }  
}
//Breadcrumb
.sunfw-breadcrumb {
    padding: 15px 0px;
    color: #292929;
    .breadcrumb > li {
        font-size: 14px;
        a {
            color: $primary-color !important;
            &:hover {
                color: $primary-color !important;
            }
        }
        .divider {
            color: $primary-color;
        }
        &.active {
            color: #292929;
        }
    }
}
// ======================================
// ------------- Menu Inline ------------
// ======================================
.menu {
    &.list-inline {
        > li {
            display: inline-block;
            > a {
                padding: 5px 15px;
                text-transform: uppercase;
                &:hover, &:focus {
                    background: transparent;
                    color: $primary-color;
                    outline: none;
                }
            }
        }
    }
}
//override css pagebuider
.work-block {
    background: #fff;
    padding: 30px 38px 22px;
    transition: all 0.4s ease .1s;
    border-bottom: 2px solid #e9e9e9;
    margin: 0 !important;
    font-size: 14px;
    .pb-back {
        line-height: 100%;
    }
    &:hover {
        border-bottom: 2px solid $primary-color;
    }
    h1,h2,h3,h4,h5,h6 {
        color: #292929 !important;
        font-weight: 600 !important;
    }
    h6 {
        margin-top: 19px !important;
        margin-bottom: 15px !important;
    }
}
.sunfw-section .jsn-bootstrap3.pb-element-testimonial .pb-testimonial {
    .pb-arrow-left, .pb-arrow-right {
        top: 50% !important;
        margin-top: -18px !important;
        border: none !important;
        background-image: none !important;
        opacity: 1;
        &:before {
            font-family: "FontAwesome";
            color: #fff !important;
            font-size: 36px;
        }
        &:hover {
            background: none !important;
            &:before {
                color: $primary-color !important;
            }
        }
    }
    .pb-arrow-left {
        left: -30px !important;
        &:before {
            content: "\f104";
        }
    }
    .pb-arrow-right {
        right: -30px !important;
        &:before {
            content: "\f105";
        }
    }
    .pb-testimonial-item {
        @include rtl-text-align-left();
        .top > .arrow {
            display: none;
        }
    }
    .pb-testimonial-avatar {
        display: inline-block;
        width: 74px;
        height: 74px;
        margin: 0 0;
        padding: 22px;
        background: #fff;
        @include rtl-float-left();
    }
    .pb-testimonial-meta {
        display: inline-block;
        width: calc(100% - 74px);
        height: 74px;
        padding: 25px 0px;
        margin: 0 0;
        background: #fff;
        @include rtl-float-right();
        .pb-testimonial-name {
            display: inline-block;
        }
        .pb-testimonial-jobtitle {
            color: $primary-color;
            font-weight: 600;
        }
    }
    .pb-testimonial-box {
        border-radius: 0;
        border-color: #fff;
        border-bottom: 1px solid #e9e9e9;
        padding: 14px 19px 13px !important;
    }
    .pb-testimonial-content p {
        @include rtl-text-align-left();
        font-style: normal;
        font-family: "Raleway", Arial;
        font-size: 14px !important;
        line-height: 24px !important;
        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            display: block;
            color: #ccc;
        }
    }
}
.Testimonial {
    .Message1 {
        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            display: block;
            color: #ccc;
        }
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .Citation1 {
        @include rtl-padding-left(60px);
    }
    .Image1 {
        bottom: 0;
        top: inherit;
    }
}
.box-contact {
    .jsn-bootstrap3 .pb-promobox section {
        padding: 28px 0 65px;
        .btn-default {
            position: absolute;
            bottom: 0;
            @include rtl-left(0);
            background-color: #003bd3 !important;
            color: #fff !important;
            &:hover {
                background-color: #0747ee !important;
                color: #fff !important;
            }
        }
    }
    .pb-promobox {
        width: 50%;
        h2 {
            margin-bottom: 19px;
        }
    }
}

.box-client {
    .jsn-bootstrap3 .pb-promobox section {
        padding: 19px 24px 7px;
        margin-bottom: 25px;
        p:first-child {
            min-height: 50px;
        }
        img {
            -webkit-filter: brightness(55%); /* Chrome, Safari, Opera */
            filter: brightness(55%);
        }
        &:hover {
            border-color: #fff !important;
            p {
                color: #fff !important;
            }
            img {
                -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
                filter: brightness(100%);
            }
        }
    }
    .Item {
        img {
            -webkit-filter: brightness(55%); /* Chrome, Safari, Opera */
            filter: brightness(55%);
        }
        &:hover {
            img {
                -webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
                filter: brightness(100%);
            }
        }
    }
    
}
.Items {
    .Item.align-left {
            align-items: flex-start;
            -webkit-align-items: flex-start;
            -moz-align-items: flex-start;
    }
}
.ourtem-imageshow .jsn-gallery {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 40px;
}
.jsn-bootstrap3 h1, .jsn-bootstrap3 h2, .jsn-bootstrap3 h3{
    font-weight: 300 !important;
    strong {
        background: $primary-color;
        color: #fff !important;
        font-weight: 300 !important;
        padding: 0 15px;
    }
}
h1.pb-heading, h2.pb-heading, h3.pb-heading {
    font-weight: 300 !important;
    b {
        background: $primary-color;
        color: #fff !important;
        font-weight: 300 !important;
        padding: 0 15px;
    }
}
.k2MasonryFilter {
    text-align: center;
    #filters {
        margin-bottom: 88px;
        margin-top: 9px;
        @include rtl-text-align-right();
        > .button {
            float: none;
            display: inline-block;
            position: relative;
            @include rtl-margin-left(20px);
            border: none;
            background: transparent;
            font-size: 14px;
            padding: 11px 5px;
            color: #292929;
            &:after {
                content: "";
                width: 0;
                height: 2px;
                background: $primary-color;
                position: absolute;
                bottom: 0;
                @include rtl-left(0);
                transition: all 0.4s ease .1s;
            }
            &:last-child {
                @include rtl-padding-right(0);
            }
            &.is-checked, &:hover, &:focus {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-weight: normal;
                border: none;
                background: transparent;
                @include box-shadow(none);
                outline: none;
                &:after {
                    width: 100%;
                }
            }
        }
    }
    #load-more {
        margin-bottom: 65px;
        padding: 13px 41px !important;
        border-radius: 25px !important;
        -moz-border-radius: 25px !important;
        -webkit-border-radius: 25px !important;
        color: #fff !important;
        font-weight: bold !important;
        font-size: 12px !important;
        border: none !important;
        &:hover, &:focus {
            outline: none;
        }
    }
}

.google-map {
    .jsn-bootstrap3.pb-element-googlemap {
        margin: 0 !important;
    }
    .customgoogle-map {
        p:first-child, p:last-child {
            display: none;
        }
    }
}
.our-story {
    color: #fff;
    font-size: 14px;
    h2, h3, h4 {
        color: #fff !important;
    }
    .btn-default {
        background-color: #fff !important;
    }
    .Grid.container {
        margin: 0 auto;
    }
}
.our-value {
    font-size: 14px;
    color: #fff;
    h2, h3, h4 {
        color: #fff !important;
    }
    .btn-default {
        background-color: #fff !important;
        color: $primary-color !important;
    }
    .Grid.container {
        margin: 0 auto;
    }
}
.count-up {
    padding-top: 60px;
    padding-bottom: 0;
    .count {
        color: $primary-color;
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 24px;
    }
    .content {
        font-size: 18px;
        font-weight: 600;
    }
}
//Override Kunena
#kunena.layout {
    select {
        border: 1px solid #ccc;
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        &:focus {
            outline: none !important;
        }
    }
}
//Article Joomla
//Menu list
.nav.menu {
    > li > a {
        padding: 10px 0;
    }
    ul {
        @include rtl-padding-left(15px);
    }
}
